.header {
    background-color: #8a2b06;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    position: sticky;
    top: 0%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.top_heading {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.header nav li {
    list-style: none;
}

nav button {
    padding: 1em 2em;
    background-color: rgb(117, 26, 3);
    color: white;
    border: none;
    border-radius: 45px;
    font-weight: bold;
}

.btn_span {
    background-color: rgb(192, 70, 22);
    color: white;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5em 1em;
    border-radius: 45px;
}