.homeDiv {
    background-color: rgb(34, 33, 33);
}

.bannerDiv {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
}

.bannerDiv img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}